/* 탭 전체 스타일 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #f5f5f5 !important;
  height: 100%;
}

.find-header {
    display: flex;
    justify-content: center;
    margin: 40px 0;
} 

.find-header-inner h2 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #111827;
}

.find-header-inner {
    width: 100%;
    max-width: 900px;
    padding: 32px 40px;

    background: #ffffff;

    border: 1px solid #d1d5db;
    border-radius: 16px;

    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.05),
        0 10px 20px rgba(0, 0, 0, 0.08);

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items:center;
}

.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 700px;
  margin: 0 auto;
  border-radius: 10px;
}

/* 탭 스타일 */
.tab_item {
  width: calc(100%/2);
  height: 50px;
  border-bottom: 3px solid #333333;
  background-color: #f8f8f8;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  color: #333333;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}
.tab_item:hover {
  opacity: 0.75;
}

.tab_content {
  display: none;
  padding: 80px 40px;
  clear: both;
  overflow: hidden;
  margin-top: 10px;
  border-radius: 0 0 10px 10px;
  
}

/* 라디오 버튼 UI삭제*/
input[name="tab_item"] {
  display: none;
}

/* 탭 컨텐츠 스타일 */
.tab_content {
  display: none;
}


/* 선택 된 탭 콘텐츠를 표시 */
#id-tab:checked ~ #id_tab_content,
#password-tab:checked ~ #password_tab_content {
  display: block;
}

/* 선택된 탭 스타일 */
.tabs input:checked + .tab_item {
  background-color: #333;
  color: #fff;
}

.result-box { margin-top: 40px; }
.inquiry { color: red; }