.hero{
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 55%; /* ← 중앙에서 위쪽으로 이동 */
    filter: blur(3px) brightness(0.7);
    transform: scale(1.05);
}


.hero-content {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);

    text-align: left;
    color: #fff;
}

.hero-content h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.3;
}

.hero-content p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #eaeaea;
}