* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 72px;
}

header {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 16px 40px;
  height: 72px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

header img {
    margin-top: 5px;
    height: 32px;         
    transform: scale(1.5);
    transform-origin: left center;
}

/* 메뉴 전체 간격 */
header ul {
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
}

/* 기본 메뉴 스타일 */
header ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  display: inline-block;
  transition:
    background 0.3s,
    color 0.3s,
    transform 0.4s cubic-bezier(0.25, 1.5, 0.5, 1);
}

/* 메뉴 hover만 */
header ul li:hover a {
  background: #333;
  color: #f2f4f7;
  transform: scale(1.15);
}

/* 로고는 hover 효과 제거 */
header > a {
  padding: 0;
  background: none;
}

/* 회원가입 / 로그인만 더 좁게 */
header ul li.login {
  margin-left: -20px; /* 둘 사이 간격 줄이기 */
}

.footer {
  background-color: #222;
  color: #fff;
  padding: 60px 0;
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  gap: 140px;
}

.footer-section {
  flex: 1;
  font-size: 14px;
  line-height: 1.8;
}

.footer-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section a {
  display: inline-block;
  transition: trasnform 0.2s easy;
}

.footer-section a:hover {
  transform: scale(1.12);
  color: #f5f5f5;
}

.footer-section img {
  height: 140px;
  margin-bottom: 12px;
  background-color: white;

  padding: 2px 4px;
  border-radius: 12px;
}

.footer a {
  text-decoration: none;
  color: #fff;
}

.footer a:hover {
  transform: scale(1.15);
}

.footer-bottom {
  max-width: 1200px;
  margin: 40px auto 0;

  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.25);

  text-align: center;
  font-size: 13px;
  color: #ccc;
}

/* 메인 이미지 */

.hero {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px) brightness(0.7);
  transform: scale(1.05);
  object-position: 45%;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);

  text-align: left;
  color: #fff;
}

.hero-content h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.3;
}

.hero-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #eaeaea;
}

.hero-btn {
  display: inline-block;
  padding: 14px 36px;

  background-color: #fff;
  color: #000;
  text-decoration: none;

  font-size: 17px;
  font-weight: 650;
  border-radius: 6px;

  transition:
    transform 0.2s ease,
    background 0.2s ease;
}

.hero-btn:hover {
  background-color: #fff;
  transform: scale(1.05);
}

/* 왜 PETHOUSE 인가요 섹션 */

.why-section {
  background-color: #f6f7f8; /* 아주 연한 회색 */
  height: 550px;

  display: flex;
  align-items: center;
}

.why-inner {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.why-inner h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 14px;
}

.why-sub {
  font-size: 16px;
  color: #666;
  margin-bottom: 60px;
}

/* 카드 영역 */

.why-cards {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

/* 개별 카드 */

.why-card {
  background: #fff;
  padding: 40px 24px;
  border-radius: 14px;
  flex: 1;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.why-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12);
}

/* 아이콘 */

.why-card i {
  font-size: 38px;
  color: #111;
  margin-bottom: 18px;
}

/* 제목 */

.why-card h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

/* 설명 */

.why-card p {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
}

/* 서비스 섹션 */

.service-section {
  background-color: #f5f6f7;
  padding: 80px 0;
}

.service-inner {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.service-card {
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-8px);
}

.service-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.service-card h3 {
  font-size: 22px;
  font-weight: 700;
  margin: 24px 24px 12px;
}

.service-desc {
  font-size: 15px;
  color: #555;
  margin: 0 24px 20px;
  line-height: 1.6;
}

.service-card ul {
  list-style: none;
  padding: 0 24px 28px;
}

.service-card ul li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 10px;

  font-size: 14px;
  color: #333;
}

/* 체크 아이콘 */
.service-card ul li::before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0;

  color: #111;
  font-weight: bold;
}

/* 밑에 예약하기 */

.reservation {
  width: 100%;
  height: 370px;
  background-color: #cc9966;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* 텍스트 */
.reservation-text {
  font-size: 40px;
  font-weight: 700;
  color: #fff; /* 글씨 흰색 */
}

.reservation-subtext {
  font-size: 22px;
  font-weight: 350;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

/* 버튼 */
.reservation-btn {
  background-color: #fff; /* 흰 배경 */
  color: #cc9966;

  padding: 14px 36px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;

  transition:
    transform 0.4s cubic-bezier(0.25, 1.5, 0.5, 1),
    background 0.2s ease;
}

.reservation-btn:hover {
  transform: scale(1.15);
  background-color: #f5f5f5;
}
