<!-- 프래그먼트 : 레이아웃에서 공통적으로 사용할 UI -->
<!-- th:fragment="프래그먼트 명" -->
<th:block th:fragment="header">
    <header>
        <a th:href="@{/}">
            <img th:src="@{/img/logo.png}">
        </a>
        
        <ul>
            <li><a href="/pet/reservation">예약</a></li>
            <li><a href="/공지사항">공지사항</a></li>
            <li><a href="/서비스">서비스</a></li>
            <li><a href="/소개">소개</a></li>
        </ul>

        <ul>
            <li class="login"><a href="/로그인">로그인</a></li>
            <li class="login"><a href="/회원가입">회원가입</a></li>
        </ul>

        

    </header>

</th:block>