<th:block th:fragment="link">
    <link rel="stylesheet" href="/css/style.css">
</th:block>

<th:block th:fragment="mypage-link">
    <link rel="stylesheet" href="/css/mypage.css">
</th:block>

<th:block th:fragment="login-link">
    <link rel="stylesheet" href="/css/login.css">
</th:block>

<th:block th:fragment="join-link">
    <link rel="stylesheet" href="/css/join.css">
</th:block>

<th:block th:fragment="find-link">
    <link rel="stylesheet" href="/css/find.css">
</th:block>

<th:block th:fragment="success-link">
    <link rel="stylesheet" href="/css/success.css">
</th:block>

<th:block th:fragment="fail-link">
    <link rel="stylesheet" href="/css/fail.css">
</th:block>

<th:block th:fragment="cancel-link">
    <link rel="stylesheet" href="/css/cancel.css">
</th:block>

<th:block th:fragment="no403-link">
    <link rel="stylesheet" href="/css/no403.css">
</th:block>